{% load i18n static %}
<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE|default:"ja" }}">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

    <!-- Extra CSS -->
    {% block extra_css %}{% endblock %}

    <title>{% block title %}Title{% endblock %}</title>
</head>

<body>
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">{% trans '単語・例文' %}</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'mail_input' %}">{% trans 'リクエスト' %}</a>
        </li>
        <li class="nav-item dropdown">
            <form name="trans" action="{% url 'set_language' %}" method="post">{% csrf_token %}
                {% for field in form %}{{ field.as_hidden }}{% endfor %}
                <input name="next" type="hidden" value="{{ redirect_to }}">
                <select class="nav-link" name="language" onchange="submit()" >
                    {% get_current_language as LANGUAGE_CODE %}
                    {% get_available_languages as LANGUAGES %}
                    {% get_language_info_list for LANGUAGES as languages %}
                    {% for language in languages %}
                    <option class="dropdown-item" value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %}
                        selected{% endif %}>
                        {{ language.name_local }} ({{ language.code }})
                    </option>
                    {% endfor %}
                </select>
            </form>
        </li>
    </ul>

    <div id="content" class="container">
        {% block content %}
        {{ content }}
        {% endblock %}
    </div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    
    <!-- Optional JavaScript -->
    {% block extra_js %}{% endblock %}
</body>
</html>