{% load i18n tags %}
{% get_current_language as LANGUAGE_CODE %}
<div class="row row-word" href="/word/{{ object.id }}/">
    <div class="col-sm-4">
        <div><h5>{{ object.japanese }}</h5></div>
        <div>{{ object.hiragana }} {{ object.roman }}</div>
        <div>
            {% if LANGUAGE_CODE == "ja" %}
                <div class="badge badge-warning">{{ object.wordclass_id.japanese }}</div>
            {% elif LANGUAGE_CODE == "th" %}
                <div class="badge badge-warning">{{ object.wordclass_id.thai }}</div>
            {% else %}
                <div class="badge badge-warning">{{ object.wordclass_id.slug }}</div>
            {% endif %}
             Hit: {{ object.searchs }}</div>
    </div>
    <div class="col-sm-3">
        {% for tag in object.tags.all %}
            {% if LANGUAGE_CODE == "ja" %}
                <div class="tag-badge badge badge-primary" value="{{ tag.id }}">{{ tag.name }} </div>
            {% elif LANGUAGE_CODE == "th" %}
                <div class="tag-badge badge badge-primary" value="{{ tag.id }}">{{ tag.thai }}</div>
            {% else %}
                <div class="tag-badge badge badge-primary" value="{{ tag.id }}">{{ tag.slug }}</div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="col-sm-5">
    {% with object.id|get_thai_list as thai_list %}
        <table class="table table-borderless table-sm">
            <tbody>
                {% for thai in thai_list %}
                    <tr>
                        <td><h6>{{ forloop.counter }}</h6></td>
                        <td><h6>{{ thai.thai }}</h6></td>
                        <td><h6>{{ thai.english }}</h6></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endwith %}
    </div>
</div>
<hr>

